<p>Hello, <%= name %>:</p>
<p>You've been signed up for a volunteer event on <%= date %> located at <%= address %>. We wanted to make sure you will attend. Please confirm if you will volunteer for this event. </p>
<p>Best Wishes,</p>
<p>The People at Uro</p>
