<p>Greetings, <%= name %>!</p>
<p>A spot recently opened for a volunteering opportunity you said you were interested in! If you are still open to volunteering, the event is at <%= address %> on <%= date %>. Would you like to participate at this event?</p>
<p>Best Wishes,</p>
<p>The People at Uro</p>
